@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&family=Space+Mono&display=swap');
.container{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-color: #ddddd7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}
.title{
    Width: 120px;
    Height: 65px;
    margin-top: 163px;
    font-size: 30px;
    color: #332e0a;
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}
.box{
    Width: 920px;
    Height: 481px;
    border-radius: 25px;
    margin-bottom: 239px;
    /* margin-right: 260px; */
    background-color: rgb(154, 154, 154);
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}
.bill1{
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #29242b;
}
h6{
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #29242b;
    margin-top: 40px;
}
.first{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    Width: 311px;
    Height: 388px;
    margin-top: 45px;
    left: 48px;
}
.buttons{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 14px;
    gap: 16px;
    margin-top: 20px;
}
button{
    Width: 117px;
    Height: 48px;
    border-radius: 5px;
    border: none;
    background-color: rgb(246, 246, 43);
    color: #2a292a;
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}
button:hover{
    cursor: pointer;
}
.custom{
    Width: 117px;
    Height: 48px;
    border-radius: 5px;
    border: none;
    background-color: rgb(251, 251, 111);
    color: #1c1e01;
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
}
.custom::placeholder{
    text-align: center;
}
.custom:hover{
cursor: pointer;
}
.percent15{
    background-color: #cccec5;
    color: #15011e;
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}
.inputbill{
    width: 379px;
    height: 48px;
    border-radius: 5px;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputbill p{
    color: #00474B;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Shantell Sans';
}
.bill{
    Width: 300px;
    Height: 45px;
    margin-left: 30px;
    border-radius: 5px;
    border: none;
    background-color: #FFFFFF;
    color: #29242b;
    font-family: 'Shantell Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
}
.bill::placeholder{
    text-align: end;
}
.bill:hover{
    cursor: pointer;
}
.second{
    Width: 413px;
    Height: 417px;
    border-radius: 15px;
    background-color: rgb(98, 98, 96);
    margin-top: 32px;
    right: 32px;
    display: flex;
    justify-content: center;
}
.inputdiv{
    width: 379px;
    height: 48px;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.personimg{
    margin-left: 5px;
}
.person{
    Width: 300px;
    Height: 45px;
    margin-left: 50px;
    border: none;
    background-color: white;
    color: #00474B;
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
}
.person::placeholder{
    text-align: end;
}
.person:hover{
    cursor: pointer;
}
.labels{
    width: 379px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.people{
    Width: 157px;
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #29242b;
}
.zero{
    display: none;
    color: red;
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.amount{
    width: 333px;
    height: 337px;
}
.tip{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 333px;
    height: 71px;
    margin-top: 56px;
}
.total{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 333px;
    height: 71px;
}
.personsmall{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.reset{
    width: 333px;
    height: 48px;
    background-color: rgb(246, 246, 43);
    color: #29242b;
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-top: 130px;
}
.reset:hover{
    cursor: pointer;
}
.tipamount{
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    text-align: right;
    letter-spacing: -1px;
    color: #eddff5;
}
.totalperson{
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    text-align: right;
    letter-spacing: -1px;
    color: #eddff5;  
}
h5{
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
h2{
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
h3{
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #7F9D9F;
}
h4{
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #7F9D9F;
}



@media(max-width:375px){
.title{
    Width: 87px;
    Height: 54px;
    top: 50px;
    left: 144px;
    }
.box{
    Width: 375px;
    Height: 789px;
    margin-top: 40px;
    flex-direction: column;
    margin-bottom: 0;
}
.first{
    margin-left: 32px;
    margin-top: 32px;
    width: 320px;
    height: 412px;
}
.inputbill{
    width: 320px;
    height: 48px;
    border-radius: 5px;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bill{
    width: 200px;
    height: 40px;
    margin-top: 6px;
    bottom: 30px;
}
.h6{
    margin-bottom: 16px;
    width: 140px;
    height: 24px;
}
.buttons{
    grid-template-columns: auto auto;
    column-gap: 10px;
    gap: 16px;
}  
button{
    Width: 147px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}
.custom{
    Width: 145px;
    height: 48px;
}
.labels{
    width: 311px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.people{
    margin-bottom: 6px;
}
.inputdiv{
    width: 320px;
    height: 48px;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: none;
}
.person{
    width: 200px;
    height: 45px;
    margin-left: 90px;
    border: none;
}
.second{
    Width: 327px;
    Height: 257px;
    margin-top: 32px;
    margin-left: 24px;
    margin-bottom: 32px;
}
.amount{
    width: 281px;
    height: 196px;
    margin-left: 24px;
    margin-right: 22px ;
}
.tip{
    width: 281px;
    height: 55px;
    margin-top: 15px;
}
.total{
    width: 281px;
    height: 55px;
    margin-top: 10px;
}
.tipamount{
    font-size: 32px;
    line-height: 47px;
}
.totalperson{
    font-size: 32px;
    line-height: 47px;
}
.reset{
    width: 281px;
    font-size: 20px;
    margin-top: 35px;
}
}